## 파이썬 기초문법 복습

### 오늘의 학습목표
 - 사칙연산, 변수계산, 조건문, IF, 반복문 for, while, 함수 등의 기초문법을 이해해보자
 - 나는 오늘 파이썬 기초문법을 살펴봤고, 프로그래밍이라는게 뭔지 알겠다

In [7]:
1+2

3

In [8]:
16/2

8.0

In [10]:
16//3

5

In [12]:
16%3

1

### 변수에 문자열 또는 숫자 할당

In [29]:
a = 3
b = 5

print(a*b)
a/b      # 참고 : 마지막줄은 무조건 실행하도록 함. 그래서 프린트 명령을 안해도 결과가 나타남

15

0.6

In [32]:
a = 4 
a = a+2
print(a)

6

In [34]:
x = 3
a*x+b    # 위에 값들을 계속 값들을 저장하고 있음

23

In [35]:
naver = 601000

In [36]:
naver+1

601001

In [40]:
#문자할당
hanyang = "한양대학교"

In [39]:
hanyang

'한양대학교'

In [42]:
"kyung's husband's name?"

"kyung's husband's name?"

# 출력하기
- integer : 숫자
- string : 문자
- float : 소수점

In [50]:
i = 3 
print(i)
print(i+2)

print(type(i))
print(type(hanyang))

j = 0.3
print(type(j))

3
5
<class 'int'>
<class 'str'>
<class 'float'>

In [51]:
'1'+'2'

'12'

In [52]:
hanyang = '한양대학교'

In [53]:
hanyang = hanyang + ' 서울캠퍼스'

In [54]:
hanyang

'한양대학교 서울캠퍼스'

In [55]:
type(hanyang)

str

In [58]:
isinstance(hanyang, int)

False

In [59]:
### 포멧팅

In [82]:
banana=5
apple=4
pineapple =10
days=6                           # 포멧 채우기
"kyung jin ate {0} banana and {1} apples and {2} pineapple {3} days".format(banana, apple, pineapple, days)   # 0부터시작, 순번

'kyung jin ate 5 banana and 4 apples and 10 pineapple 6 days'

In [83]:
name = "Kyung Jin"               #pyhton 3.0부터 가능한 %로  포멧대체하기
"%s ate %d bananas and %d apples and %d pineapple for %d days"%(name, banana, apple, pineapple, days)

'Kyung Jin ate 5 bananas and 4 apples and 10 pineapple for 6 days'

In [75]:
model_a = 4.456457667446
model_b = 8.32543634253463

In [81]:
'A의 결과값은 {0:.3f}이고 B의 결과값은 {1:.1f}이다'.format(model_a, model_b)        #소수점 보여주기 제한

'A의 결과값은 4.456이고 B의 결과값은 8.3이다'

### 리스트

In [85]:
a = 5

In [101]:
korean_president = ['윤석열', '문재인', '박근혜', '노무현', '김대중']           # [ ]리스트
korean_president

['윤석열', '문재인', '박근혜', '노무현', '김대중']

In [89]:
korean_president[-1]

'김대중'

- append() : 리스트의 끝에 새로운 원소 x를 추가

In [100]:
korean_president.append('이명박')                         # 값 추가   append(값)

In [92]:
korean_president

['윤석열', '문재인', '박근혜', '노무현', '김대중', '이명박']

In [93]:
korean_president.remove('이명박')

In [94]:
korean_president

['윤석열', '문재인', '박근혜', '노무현', '김대중']

- insert(위치,값)

In [251]:
korean_president.insert(3,'이명박')                      # 값 삽입  insert(위치,값)

In [252]:
korean_president

['윤석열', '문재인', '박근혜', '이명박', '노무현', '김대중']

In [104]:
from random import randint

In [137]:
randint (0,7)

7

>> **Q. 위 함수와 리스트를 사용해서 korean_president 리스트중에 대통령을 랜덤하게 선택해서 출력해보자

In [212]:
korean_president[randint(0,5)]

'문재인'

### 논리형
 - True/False -Boolean
 - True:1, False:0

In [213]:
a = True
b = False

In [214]:
a+b

1

In [215]:
a or b

True

In [216]:
a and b

False

In [217]:
not a

False

In [218]:
not b

True

In [219]:
a == b

False

In [220]:
a != b

True

In [221]:
'A' == 'A'

True

In [222]:
1 != '1'

True

In [223]:
1 >+ 3

False

- 리스트내에 어떤 항목이 있는지를 확인하고 들어있는 True를 리턴하게 해보자

In [225]:
'윤석열' in korean_president

True

In [226]:
'이재명' in korean_president

False

In [227]:
korean_president[2:5]

['박근혜', '노무현', '김대중']

In [229]:
korean_president[2:]
korean_president[:3]

['윤석열', '문재인', '박근혜']

### 반복문
1) while
- while 조건문 : 
- 조건문이 True인 경우에만 실행함
- 거짓인 경우 while문이 반복문을 빠져나옴
- 따라서, 조건문이 변경되는 로직이 있어야 함
- 조건문이 변경되지 않으면 영원히 반복문을 빠져나오지 못 함

2) for

In [231]:
i = 0
while i < 10:
    print("현재 i의 값은 %d입니다"%i)
    i += 1       #i=i+1

현재 i의 값은 0입니다
현재 i의 값은 1입니다
현재 i의 값은 2입니다
현재 i의 값은 3입니다
현재 i의 값은 4입니다
현재 i의 값은 5입니다
현재 i의 값은 6입니다
현재 i의 값은 7입니다
현재 i의 값은 8입니다
현재 i의 값은 9입니다

In [234]:
i = 10
while i > 0:
    print("현재 i의 값은 %d입니다"%i)
    i -= 1       #i=i+1

현재 i의 값은 10입니다
현재 i의 값은 9입니다
현재 i의 값은 8입니다
현재 i의 값은 7입니다
현재 i의 값은 6입니다
현재 i의 값은 5입니다
현재 i의 값은 4입니다
현재 i의 값은 3입니다
현재 i의 값은 2입니다
현재 i의 값은 1입니다

In [239]:
range(9)

range(0, 9)

In [238]:
for i in range(10):
    print("현재 i의 값은 %d입니다"%i)

현재 i의 값은 0입니다
현재 i의 값은 1입니다
현재 i의 값은 2입니다
현재 i의 값은 3입니다
현재 i의 값은 4입니다
현재 i의 값은 5입니다
현재 i의 값은 6입니다
현재 i의 값은 7입니다
현재 i의 값은 8입니다
현재 i의 값은 9입니다

In [240]:
for i in range(1,4):
    print(i)

1
2
3

In [253]:
for i in korean_president:
    print(i)

윤석열
문재인
박근혜
이명박
노무현
김대중

> ** Q. 아래 코드를 수정해서 "19대 대통령은 윤석열입니다". "18대 대통령은 문재인입니다"

In [254]:
j = 19
for i in korean_president:
    print("%d대 대통령은 %s입니다"%(j,i))
    j -=1

19대 대통령은 윤석열입니다
18대 대통령은 문재인입니다
17대 대통령은 박근혜입니다
16대 대통령은 이명박입니다
15대 대통령은 노무현입니다
14대 대통령은 김대중입니다

In [256]:
for i in range(2,8):
    if i == 6:
        break
    print(i)

2
3
4
5

In [257]:
for i in range(0,11):
    print(i*2)

0
2
4
6
8
10
12
14
16
18
20

### 구구단 3단과 4단을 아래와 같이 출력해 주세요 
1) for 문속에 for문이 들어가야함. 첫번째 for문은 3,4 단 관련. 두번째 for문은 1,10까지 의 범위
2) 출력은 (%d X %d  = %d %(a,b,a*b))

In [268]:
for a in range(3,5):
    print("--- %d단 시작 ---" %a)
    for b in range(1,10):
        print("%d x %d = %d" %(a,b,a*b))

--- 3단 시작 ---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--- 4단 시작 ---
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

### 딕셔너리
- 딕셔너리는 { }중괄호를 사용
- 모든 항목이 {key:value}로 이루어져있다.

In [276]:
professor = {'name':['차경진','임규건','조남재'], 'phone':['2220-1038','2222-2222','3333-3333'], 'Age':[40,51,62]}

In [277]:
professor['name']

['차경진', '임규건', '조남재']

In [278]:
professor['Age']

[40, 51, 62]

In [279]:
professor['주소'] = ["동대문구","강남구",'서초구']

In [280]:
professor

{'name': ['차경진', '임규건', '조남재'],
 'phone': ['2220-1038', '2222-2222', '3333-3333'],
 'Age': [40, 51, 62],
 '주소': ['동대문구', '강남구', '서초구']}

In [281]:
professor.keys()

dict_keys(['name', 'phone', 'Age', '주소'])

In [282]:
professor.values()

dict_values([['차경진', '임규건', '조남재'], ['2220-1038', '2222-2222', '3333-3333'], [40, 51, 62], ['동대문구', '강남구', '서초구']])

In [283]:
'백승익' in professor.values()

False

In [286]:
'임규건' in professor['name']

True

In [288]:
'주소' in professor.keys()

True